trojan=0001.hcm.genzpn.com:443,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,over-tls=true,tls-host=livestream2.tv360.vn,tls-verification=false,fast-open=true,udp-relay=true,tag=🇻🇳 Hồ Chí Minh [TLS] - Mobi
trojan=0001.hn.genzpn.com:443,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,over-tls=true,tls-host=livestream2.tv360.vn,tls-verification=false,fast-open=true,udp-relay=true,tag=🇻🇳 Hà Nội [TLS] - Mobi
trojan=0001.hk.genzpn.com:443,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,over-tls=true,tls-host=livestream2.tv360.vn,tls-verification=false,fast-open=true,udp-relay=true,tag=🇭🇰 Hong Kong [TLS] - Mobi
trojan=0001.sg.genzpn.com:443,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,over-tls=true,tls-host=livestream2.tv360.vn,tls-verification=false,fast-open=true,udp-relay=true,tag=🇸🇬 Singapore [TLS] - Mobi
trojan=0001.us.genzpn.com:443,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,over-tls=true,tls-host=livestream2.tv360.vn,tls-verification=false,fast-open=true,udp-relay=true,tag=🇺🇸 USA [TLS] - Mobi
trojan=0001.kr.genzpn.com:443,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,over-tls=true,tls-host=livestream2.tv360.vn,tls-verification=false,fast-open=true,udp-relay=true,tag=🇰🇷 Korea [TLS] - Mobi
trojan=0001.jp.genzpn.com:443,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,over-tls=true,tls-host=livestream2.tv360.vn,tls-verification=false,fast-open=true,udp-relay=true,tag=🇯🇵 Japan [TLS] - Mobi
vmess=0001.hcm.genzpn.com:80,method=chacha20-poly1305,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,fast-open=true,udp-relay=true,obfs=ws,obfs-host=livestream2.tv360.vn,tag=🇻🇳 Hồ Chí Minh - Mobi
vmess=0001.hn.genzpn.com:80,method=chacha20-poly1305,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,fast-open=true,udp-relay=true,obfs=ws,obfs-host=livestream2.tv360.vn,tag=🇻🇳 Hà Nội - Mobi
vmess=0001.hk.genzpn.com:80,method=chacha20-poly1305,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,fast-open=true,udp-relay=true,obfs=ws,obfs-host=livestream2.tv360.vn,tag=🇭🇰 Hong Kong - Mobi
vmess=0001.sg.genzpn.com:80,method=chacha20-poly1305,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,fast-open=true,udp-relay=true,obfs=ws,obfs-host=livestream2.tv360.vn,tag=🇸🇬 Singapore - Mobi
vmess=0001.us.genzpn.com:80,method=chacha20-poly1305,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,fast-open=true,udp-relay=true,obfs=ws,obfs-host=livestream2.tv360.vn,tag=🇺🇸 USA - Mobi
vmess=0001.kr.genzpn.com:80,method=chacha20-poly1305,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,fast-open=true,udp-relay=true,obfs=ws,obfs-host=livestream2.tv360.vn,tag=🇰🇷 Korea - Mobi
vmess=0001.jp.genzpn.com:80,method=chacha20-poly1305,password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e,fast-open=true,udp-relay=true,obfs=ws,obfs-host=livestream2.tv360.vn,tag=🇯🇵 Japan - Mobi
