trojan=0001.hcm.genzpn.com:443, password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e, over-tls=true, tls-host=dl.ops.kgvn.garenanow.com.akamaized.net, tls-verification=false, fast-open=true, udp-relay=true, tag=🇻🇳 Hồ Chí Minh [TLS]‎‎‎
trojan=0001.hn.genzpn.com:443, password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e, over-tls=true, tls-host=dl.ops.kgvn.garenanow.com.akamaized.net, tls-verification=false, fast-open=true, udp-relay=true, tag=🇻🇳 Hà Nội [TLS]‎‎‎
trojan=0001.hk.genzpn.com:443, password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e, over-tls=true, tls-host=dl.ops.kgvn.garenanow.com.akamaized.net, tls-verification=false, fast-open=true, udp-relay=true, tag=🇭🇰 Hong Kong [TLS]‎‎‎
trojan=0001.sg.genzpn.com:443, password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e, over-tls=true, tls-host=dl.ops.kgvn.garenanow.com.akamaized.net, tls-verification=false, fast-open=true, udp-relay=true, tag=🇸🇬 Singapore [TLS]‎‎‎
vmess=0001.hcm.genzpn.com:80, method=chacha20-ietf-poly1305, password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e, obfs=ws, obfs-host=dl.ops.kgvn.garenanow.com.akamaized.net, fast-open=true, udp-relay=true, aead=true, tag=🇻🇳 Hồ Chí Minh‎‎‎
vmess=0001.hn.genzpn.com:80, method=chacha20-ietf-poly1305, password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e, obfs=ws, obfs-host=dl.ops.kgvn.garenanow.com.akamaized.net, fast-open=true, udp-relay=true, aead=true, tag=🇻🇳 Hà Nội‎‎‎
vmess=0001.hk.genzpn.com:80, method=chacha20-ietf-poly1305, password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e, obfs=ws, obfs-host=dl.ops.kgvn.garenanow.com.akamaized.net, fast-open=true, udp-relay=true, aead=true, tag=🇭🇰 Hong Kong‎‎‎
vmess=0001.sg.genzpn.com:80, method=chacha20-ietf-poly1305, password=e1fc31a3-aa70-4021-a57f-1aa28a520d0e, obfs=ws, obfs-host=dl.ops.kgvn.garenanow.com.akamaized.net, fast-open=true, udp-relay=true, aead=true, tag=🇸🇬 Singapore‎‎‎
