shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=------------------ Github  ------------------
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=• bigdargon
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=• langkhach270389
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=• app2smile

shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=------------------ Gitlab  ------------------
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=• curben

shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=------------------ Other  ------------------
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=• chongluadao.vn
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=• oisd.nl
