@fbiossdk 🇻🇳 = trojan, 103.166.183.226, 443, password=iLoveVIETNAM, skip-cert-verify=true, sni=livestream2.tv360.vn
@fbiossdk 🇸🇬 = trojan, 159.223.51.202, 443, password=ChouTzuyu, skip-cert-verify=true, sni=livestream2.tv360.vn
