trojan=fwb.hcsavn.com:443, password=iLoveVIETNAM, over-tls=true, tls-host=livestream2.tv360.vn, tls-verification=false, fast-open=true, udp-relay=true, tag=🇻🇳 Server HN [TLS]
vmess=fwb.hcsavn.com:80, method=aes-128-gcm, password=3b7a33b1-d154-46cf-df69-e66e3d718d63, obfs=ws, obfs-host=livestream2.tv360.vn, obfs-uri=/, fast-open=true, udp-relay=true, aead=true, tag=🇻🇳 Server HN
