@fbiossdk 🇻🇳 = trojan, 103.166.183.226, 443, password=iLoveVIETNAM, skip-cert-verify=true, sni=livestream2.tv360.vn
@fbiossdk 🇸🇬 = ss, 159.223.51.202, 80, encrypt-method=aes-256-gcm, password=ChouTzuyu, obfs=http, obfs-host=livestream2.tv360.vn
