shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=[fakeiAP 1]: restore.
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=[fakeiAP 2]: login account.
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=[fakeiAP 3]: always enable VPN when use app.
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=[fakeiAP 4]: only enable when restore.