shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=Author: Tran Hoang Long
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=Telegram: t.me/hcsavn
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=Facebook: fb.com/hcsavn
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=Description:
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=• Block ads • Block revoke • Fake vip in-app
