shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=• Fix scam 🇻🇳 filter
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=• Fix url regex for block ads YouTube
shadowsocks=0.0.0.0:80, method=chacha20, password=pwd, tag=Updated: 22/05/2022
